/*
reglas
selectores
declaraciones
propiedades
valores
*/

/* selector de etiqueta. Ejemplo: section - header - article - nav */
/*  header {
        background-color: pink;
    } */
/* selector descendente. */
/* body header div nav ol li a { } */

/* selector de clase. Ejemplo: .container - .header - .btn */
/* selector de id. Ejemplo: #portfolio */


/* Colores escogidos */

/* gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127 */
/* celeste = #026fff */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

nav ol {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    color: #fff;
    font-size: 40px;
    line-height: 1.5; /* => 150% */
    letter-spacing: -.2px;
    /* margin: top right bottom left; */
    margin: 0;
}


h1 strong {
    color: #026fff;
}

.hero {
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1b2127;
    -webkit-background-size: 500px 300px;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.project {
    /* border: tamaño tipo estilo; */
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* color: blue; */
    /* border-top-color: green;
    border-top-width: 10px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    margin-bottom: 15px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
    color: #fff;
}

.header ol {
    list-style: none;
}

.header a {
    color: #fff;
    text-decoration: none;
}
